.tapbarWrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    transition: ease-in-out .2s;
}

.tapbarWrapper:is(:hover, :active) {
    background: #ddd;
}

.tapbarWrapper::after {
    content: '';
    position: absolute;
    z-index: 1;
    inset: 50%;
    background: #f2f2f2;
}

.tapbarWrapper.animate::after {
    inset: -20%;
    opacity: 0.2;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s;
}

.tapbarWrapper>button {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-block: 1.25rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: 0.75rem;
    line-height: 140%;
    background: transparent;
}