.content {
    margin-top: 3rem;
    display: grid;
    gap: 1.5rem;
}

.block {
    border-radius: 1rem;
    background: #f5f5f5;
}

.inner {
    min-height: 70svh;
    min-height: 70vh;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: 700;
    color: #222;
}